:host {
  display: block;
  position: relative;
  min-width: max-content;
  height: 100%;
  background-color: var(--neutral-gray);
  overflow-y: overlay;
}
#navPadding {
  height: 100%;
}
#navPadding.addPadding {
  padding: var(--nav-height) 0 0;
}
app-content {
  position: relative;
  z-index: 20;
}
app-footer {
  position: sticky;
  bottom: 0;
  height: var(--footer-height);
  z-index: 10;
}