:host {
  display: block;
  position: relative;
  height: 100%;
  background-color: var(--neutral-gray);
  overflow-y: overlay;
  transition: opacity 0.2s;
}
:host(.addPadding) {
  padding: var(--nav-height) 0 0;
}
:host(.loading) {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0s;
}
app-content {
  position: relative;
  z-index: 20;
}
app-footer {
  position: sticky;
  bottom: 0;
  height: var(--footer-height);
  z-index: 10;
}
#scrollToTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  aspect-ratio: 1;
  right: 10rem;
  bottom: 50px;
  background-color: var(--light-pink);
  padding: 1.5rem;
  border: none;
  border-top: 2px solid hsl(0, 0%, 100%, 0.3);
  border-left: 2px solid hsl(0, 0%, 100%, 0.3);
  border-radius: 10rem;
  box-shadow: 1px 1px 4px 1px hsl(0, 0%, 0%, 0.3);
  cursor: pointer;
  z-index: 100;
}
#scrollTopText {
  height: 0;
  overflow: hidden;
  font-weight: 700;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}
#scrollToTop:hover > #scrollTopText {
  height: 2rem;
}
