<div class="videoCon">
  <video autoplay muted loop oncanplay="this.play()" onloadedmetadata="this.muted = true">
    <source src="assets/videos/BannerHairFlip.mp4" type="video/mp4">
  </video>
  <div class="videoOverlay"></div>
</div>
<div id="banner-Welcome" class="banner-Bg-Text ace--center"><b>|</b>Welcome</div>
<div id="banner-Akwaaba" class="banner-Bg-Text ace--center">Akwaaba</div>
<div id="foreground">
  <app-button id="bAA" class="ace--center">Book An Appointment</app-button>
  <div id="bookTheLookCon" class="ace--center" reveal>
    <a class="link" routerLink="store" routerLinkActive="active">
      <div id="bookTheLookText">
        <h1>book the look</h1>
      </div>
    </a>
    <div id="miniCalendar">
      <ng-container *ngFor="let day of weekdaysArray">
        <app-card reveal></app-card>
      </ng-container>
    </div>
  </div>
</div>