<div setbg="fluid">
  <app-home-banner></app-home-banner>
</div>
<app-section size="hug" tag="newReleases" heading="New and limited releases">
  <app-product-carousel
    id="newReleases"
    [number]="numberOfProductsVisible"
    [products]="products"
  ></app-product-carousel>
</app-section>
<app-section
  id="visitShop"
  size="hug"
  heading="visit the shop"
  [button]="{ text: 'Shop', direction: 'right', route: 'shop' }"
>
  <div id="leafCardCon">
    <div id="leafCard1" class="leafCards">
      <div class="leafBg"></div>
      <div class="leafText">Wigs</div>
    </div>
    <div id="leafCard2" class="leafCards">
      <div class="leafBg"></div>
      <div class="leafText">lashes</div>
    </div>
    <div id="leafCard3" class="leafCards">
      <div class="leafBg"></div>
      <div class="leafText">accessories</div>
    </div>
  </div>
</app-section>
<app-section id="feed" title="Looks by you" last>
  <app-instagram-feed></app-instagram-feed>
</app-section>
