<div setbg>
  <app-home-banner></app-home-banner>
</div>
<div id="newReleasesCon" setbg="half">
  <app-product-carousel
  id="newReleases"
  [number]="numberOfProductsVisible"
  ></app-product-carousel>
</div>
<div id="newReleasesCon" setbg="half">
  <div id="leafCardCon">
    <div id="leafCard1" class="leafCards">
      <div class="leafBg"></div>
      <div class="leafText">Wigs</div>
    </div>
    <div id="leafCard2" class="leafCards">
      <div class="leafBg"></div>
      <div class="leafText"></div>
    </div>
    <div id="leafCard3" class="leafCards">
      <div class="leafBg"></div>
      <div class="leafText"></div>
    </div>
  </div>
</div>
