nav {
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  justify-content: space-between;
  height: 100%;
  padding: 1rem 3rem;
  box-sizing: border-box;
}
#links, #userSpecific {
  display: flex;
}
anibere-logo {
  height: 100%;
}
#links {
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}
.link * {
  padding: .8rem;
  transition: color 150ms;
}
.link:hover *:not(.link.active *) {
  color: white;
  text-shadow: 0 0 2px black;
}
.link.active * {
  color: red;
  cursor: default;
}
#userSpecific {
  justify-self: right;
  align-self: center;
}