:host {
  display: block;
  transition-duration: 0.3s;
}
:host(.transparent) nav {
  background-color: transparent !important;
  box-shadow: none;
}
:host(.raise) {
  transform: translateY(-50px);
}

nav {
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  justify-content: space-between;
  height: 100%;
  padding: 1rem 3rem;
  box-shadow: 0 1px 4px hsla(0, 0%, 0%, 0.3);
  box-sizing: border-box;
  transition-duration: 0.3s;
}
#links,
#userSpecific {
  display: flex;
}
anibere-logo {
  height: 100%;
}
#links {
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}
.link * {
  padding: 0.8rem;
  transition-duration: 0.2s;
}
.link:hover *:not(.link.active *) {
  color: white;
  text-shadow: 0.5px 0.5px 2px black;
}
.link.active * {
  color: var(--pink);
  text-shadow: 0.5px 0.5px 2px black;
  cursor: default;
}
#userSpecific {
  justify-self: right;
  align-self: center;
}
